body {
	background-color:#FFFF99;
}

h1 {
	color : #FF0000;
	text-align : center;
	text-decoration : underline;
}

h2 {
	color : #0000FF;
	text-align : center;
	font-size : 120% ;
}

p {
    text-align : center;
}